
<div class="container">
	<footer>
		<small>Copyright &copy <a href="#">The Complete Ruby Tutorial </a> by <a href="#">Emmanuel Yirenkyi</a></small>	

		<nav class="navbar">
			<ul>
				<li><%= link_to "About", about_path %>  </li>
			</ul>
		</nav>
	</footer>
</div>